<% layout('layouts/boilerplate') %> 
<h1>Coops</h1>
<ul>
    <% for (let coop of coops) { %> 
        <li> <a href="coops/<%=coop._id%>"><%= coop.name %></a> </li>
    <% } %> 
</ul>

<div>
    <a href="/coops/new">Add Coop</a>
</div>