<% layout('layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center">New Coop</h1>
    <div class="col-6 offset-3">
        <form class="needs-validation" action="/coops" method="POST" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <div class="mb-3">
                    <label class="form-label" for="name">Name*</label>
                    <input class="form-control" type="text" id="name" name="coop[name]" required>
                </div>
        
                <div class="mb-3"></div>
                    <label class="form-label" for="images">Image</label>
                    <input class="form-control" type="file" name="images" id="images" multiple>
                </div>
        
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="coop[description]"></textarea>
                </div>

                <p>* required</p>
        
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
            </div>
        </form>
    </div>
</div>
